.menu-wrapper {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.menu-card {
  background-color: rgb(32, 37, 97);
  width: 150px;
  text-align: center;
}

.active-menu {
  border: 4px solid #ffffff;
}
